body{
    background-image: linear-gradient(to right, #262728 0%, #d4d2e3 100%);
}
h1{
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px grey;
    color: rgb(23, 18, 9);
    background-color: rgb(245, 245, 243);
}
form{
    text-align: left;
    background-image: linear-gradient(to right, #2fa4c5 0%, #e4eaf2 100%);
    text-shadow: 2px 2px 5px grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

label{
    margin-left: 42px;
}

p{
    margin-left: 42px;
}

textarea{
    margin-left: 42px;
}

input[type="submit"]{
    margin-left: 42px;
}

img{
    display: block;
    float: right;
    margin-left: auto;
    margin-right: 42px;
    border: 2px solid black;
    border-radius: 10px;
}